html{
    background-color: rgba(91, 125, 101, 0.626);
}

header{
    margin-bottom: 2%;
}
#mobile-demo{
    background-color: #94ee6e84;
}
.col-sm-9 {
    margin-top: 2px;
    }
    .col-sm-3 {
    margin-top: 2px;
    } 

.show{
    /* color: cornsilk; */
}

mark {
    background: orange;
    color: black;
  }

.chip {
    background-color: rgba(159, 181, 19, 0.701);
}

.container{
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
    max-width: 99.2%;
}

.collapsible-header{
    background-color: beige;
}
body{
  /* background-color: chartreuse; */
  /* background-color: beige; */
  /* padding-top: 2%; */
}

.col-sm-2 {
    width: 16%;
}

.btn_small {
    height: 24px;
    width: 70px;
    line-height: 24px;
    margin: 5px 5px;
    padding: 0 0.5em;
}

.task_header {
    margin-top: 5px;
}

.trigger {
    padding: 1px 10px;
    font-size: 12px;
    font-weight: 400;
    border-radius: 10px;
    background-color: #eee;
    color: #212121;
    display: inline-block;
    margin: 2px 5px;
    }
    
    .hoverable, .trigger {
    transition: box-shadow 0.55s;
    box-shadow: 0;
    }
    
    .hoverable:hover, .trigger:hover {
    transition: box-shadow 0.45s;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }