{% extends 'DB.html' %} {% block content %}
<h1 style="text-align: center;">Add Strains</h1>

<div class="row">
    <form action="{{url_for('insert_DB')}}" method="POST" class="col s12">
        <div class="row">
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">poll</i>
                    <select class="collapsible" id="strain_type" name="type">
                        <option value="" disabled selected>Choose strain type</option>
                        {% for strain in strains %}
                        <option value="{{strain.type}}">{{strain.type}}</option>
                        {% endfor %}
                    </select>
                    <label>Strain type</label>
                </div>
            </div>
            <div class="input-field col s12">
                <i class="material-icons prefix">assignment</i>
                <input id="strain_name" name="name" type="text" class="validate">
                <label for="icon_prefix">Strain Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">subject</i>
                <textarea name="description" id="strain_description" class="materialize-textarea"></textarea>
                <label for="icon_telephone">Strain Description</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">today</i>
                <input id="due_date" name="due_date" type="text" class="datepicker">
                <label for="icon_prefix">First found</label>
            </div>
        </div>
        <div class="row">
            <div class="switch">
                <label>
                    <input id="button_isDank" name="isDank" type="checkbox">
                    <span class="lever"></span>
                    Is Dank
                </label>
            </div>
        </div>
        <div class="row">
            <button class="btn btn-large waves-effect waves-light red" type="submit">Add Strain
                <i class="material-icons right">eco</i>
                <i class="material-icons left">playlist_add</i>
            </button>                
        </div>
    </form>
</div>

{% endblock %}