{%extends 'base.html'%}

{%block content%}


<p><a href="add_strain">Add Strain</a></p>
<h1 style="text-align: center;">Strains</h1>
<hr>
<!-- <h1>Strains</h1> -->


<ul class="collapsible popout">
    {% for strain in strains %}
    <li>
        <div class="collapsible-header">
            <div class="col s3">
                <i class="material-icons">expand_more</i>                
            </div>
            <div class="col s9">
                
                <div class="inline_actions">
                    <i style="font-size: 116px;width: 90px;"class="material-icons green circle">eco</i>
                    <strong style="font-size: 40px;letter-spacing: .5em;">{{strain.name}}</strong>{{strain.type}}
                </div>
            </div>
        </div>

        <div class="collapsible-body">
            <div class="row">
                <!-- <div style="width: 20%;" class="col s4"></div> -->
                <a href="" class="waves-effect waves-light btn red btn_small">View</a>                        
                <div style="width: 20%;" class="col s4">
                    <span>{{strain.firstTried}}</span>
                    <a href="" class="waves-effect waves-light btn red btn_small">Rank</a>                        
                    <a href = "{{url_for('edit_strain', strain_id=strain._id)}}" class="waves-effect waves-light btn green btn_small">Edit</a>
                </div>
            
                <div style="width: 80%;" class="col s8">
                    <span>{{strain.isDank}}</span>                        
                    <span>{{strain.description}}</span>
                </div>
            </div>
        </div>
        
        <a href = "" style="width: 31%;" class="waves-effect waves-light btn brown btn_small">Rank</a>      
        <a href = "" style="width: 31%;" class="waves-effect waves-light btn green btn_small">View</a>      
        <a href = "{{url_for('delete_strain', strain_id=strain._id)}}" style="width: 31%;" class="waves-effect waves-light btn red btn_small">Delete</a>     
    </li>
    {% endfor %}
</ul>




    
{%endblock%}    

